* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 0 auto;
    /* text-align: center; */
}

.images {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#java {
    background-image: url('./codeLogo/Java-Logo.png');

}

#js {
    background-image: url('../notes-app/codeLogo/js.png');
}

#css {
    background-image: url('../notes-app/codeLogo/css.png');
}

.text {
    border: 1px solid black;
    border: 5px;
    padding: 10px 15px;
    text-align: justify;
}

.mb-20 {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.img:hover{
    margin-top: 2px;
}

